@page "/authsuccess"
@using Microsoft.AspNetCore.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavigationManager

<div class="container" style="height: 100%">
    <div class="frontcolor text-center pageHeader">
        @LM.Get("webAuthSuccessHeader")
    </div>
    <div class="centralizer">
        <div class="text-center">
            @if (WebUiHelper.GetAsset("eve_logo_light.png") != null)
            {
                <h1>
                    <img src="@WebUiHelper.GetAsset("eve_logo_light.png")" width="200" />
                </h1>
            }
            <p class="lead frontcolor fontEternalShadow">@((MarkupString) Message1)</p>
            @if (!string.IsNullOrEmpty(Message2))
            {
                <p class="frontcolor fontEternalShadow">@((MarkupString) Message2)</p>
            }
            @if (!string.IsNullOrEmpty(Message3))
            {
                <p class="frontcolor fontEternalShadow">@((MarkupString) Message3)</p>
            }
            @if (!string.IsNullOrEmpty(SettingsManager.Settings.WebServerModule.DiscordUrl))
            {
                <p>
                    <a href="@SettingsManager.Settings.WebServerModule.DiscordUrl" target="_blank">
                        @if (WebUiHelper.GetAsset("discord_light.png") != null)
                        {
                            <img src="@WebUiHelper.GetAsset("discord_light.png")" width="100"/>
                        }
                    </a></p>
            }
            else
            {
                @if (WebUiHelper.GetAsset("success.png") != null)
                {
                    <p><img src="@WebUiHelper.GetAsset("success.png")" width="150"/></p>
                }
            }
            <p style="text-align: -webkit-center">
                <a href="@ReturnUrl"><div class="navButton2" role="button" style="width: 150px">@LM.Get("backText")</div></a>
            </p>

        </div>
    </div>
</div>
@code
{
    protected string ReturnUrl { get; set; }
    protected string Message1 { get; set; }
    protected string Message2 { get; set; }
    protected string Message3 { get; set; }

    protected bool ShowDiscordButton { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        ReturnUrl = await ProtectedSessionStore.GetAndClear<string>("returnUrl") ?? "/";
        Message1 = await ProtectedSessionStore.GetAndClear<string>("message1");
        Message2 = await ProtectedSessionStore.GetAndClear<string>("message2");
        Message3 = await ProtectedSessionStore.GetAndClear<string>("message3");

        if (string.IsNullOrEmpty(Message1) && string.IsNullOrEmpty(Message2) && string.IsNullOrEmpty(Message3))
        {
            //default
            NavigationManager.NavigateTo("/badrq");
            return;
        }

        await base.OnInitializedAsync();
    }
}
