@using THDWebServer.Authentication
<div class="top-row pl-4 navbar navbar-dark">
    
    <a class="navbar-brand" href="" style="vertical-align: center">
        @if (WebUiHelper.GetAsset("nav_logo.png") != null)
        {
            <RadzenImage Path="@WebUiHelper.GetAsset("nav_logo.png")" Style="width: 32px; height: 32px;"></RadzenImage>
        }
        @LM.Get("webServerName")
    </a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @LM.Get("nmHome")
            </NavLink>
        </li>
        @if (SettingsManager.Settings.Config.ModuleAuthWeb)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetGeneralAuthPageUrl()">
                    <span class="oi oi-account-login" aria-hidden="true"></span> @LM.Get("nmAuthPage")
                </NavLink>
            </li>
        }

        @if (SettingsManager.Settings.WebAuthModule.DisplayFeedAuthWithoutRegistration)
        {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@ServerPaths.GetFeedAuthPageUrl()">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @LM.Get("nmAuthFeedPage")
                    </NavLink>
                </li>
        }
        else
        {
            <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_FEED_AUTH">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@ServerPaths.GetFeedAuthPageUrl()">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @LM.Get("nmAuthFeedPage")
                    </NavLink>
                </li>
            </AuthorizeView>
        }
        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_HRM">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetHrmPageUrl()">
                    <span class="oi oi-person" aria-hidden="true"></span> @LM.Get("nmHrmPage")
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_TIMERS">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetTimersPageUrl()">
                    <span class="oi oi-clock" aria-hidden="true"></span> @LM.Get("nmTimersPage")
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_MINING_SCHEDULE">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetMiningSchedulePageUrl()">
                    <span class="oi oi-graph" aria-hidden="true"></span> @LM.Get("nmMiningSchedulePage")
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_STRUCTURES">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetStructureManagementPageUrl()">
                    <span class="oi oi-vertical-align-bottom" aria-hidden="true"></span> @LM.Get("nmStructureManagementPage")
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_MOON_TABLE">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetMoonTablePageUrl()">
                    <span class="oi oi-moon" aria-hidden="true"></span> @LM.Get("nmMoonTablePage")
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Roles="@CustomAuthenticationStateProvider.ROLE_WEB_SETTINGS">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="@ServerPaths.GetWebSettingsPageUrl()">
                    <span class="oi oi-cog" aria-hidden="true"></span> @LM.Get("nmWebSettings")
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async  Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
